attrs==22.2.0
btrfsutil==6.1.3
certifi==2022.12.7
cffi==1.15.1
cryptography==39.0.1
distlib==0.3.6
filelock==3.9.0
lensfun==0.3.3
nftables==0.1
packaging==23.0
pipenv==2022.12.19
platformdirs==2.6.2
ply==3.11
pycparser==2.21
PyGObject==3.42.2
pyparsing==3.0.9
Reflector==2021.11.20.2.41.3
team==1.0
virtualenv==20.17.1
