{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
{% if user.is_authenticated%}
<style>
    body{
        margin-top: 15vh;
        margin-bottom: 5vh;
    }
    #profile-dropdown:hover{
        background-color: rgb(235, 235, 235);
    }
    .pt-2:hover{
        color:rgba(0, 0, 0, 0.606)
    }
</style>
{% endif %}
<body class="bg-dark d-flex flex-column align-items-center">
    {% if user.is_authenticated%}
        <nav class="navbar fixed-top w-100 bg-light d-flex align-items-center">
            <ul class="d-flex flex-row align-items-center">
                {% if user.groups.all.0.name == 'users' %}
                    <a href="/" class="nav-link left pt-2 mx-0"> Home </a>
                    <a href="{% url 'request' %}" class="nav-link pt-2 mx-5"> Request Form </a>
                    <a href="{% url 'submit_search' %}" class="nav-link pt-2 mx-5"> Search </a>
                    <a href="{% url 'accept_request' %}" class="nav-link pt-2 mx-5"> View Requests </a>
                    <a href="#" class="nav-link pt-2 mx-0"> Help </a>
                {% else %}
                    <a href="/" class="nav-link pt-2 mx-0"> Home </a>
                    <a href="#" class="nav-link pt-2 mx-5"> Resolve Transfer Requests </a>
                    <a href="#" class="nav-link pt-2 mx-0"> Resolve Help Requests </a>
                    <a href="{% url 'submit_search' %}" class="nav-link pt-2 mx-5"> Search </a>
                    <a href="{% url 'updateCourses' %}" class="nav-link pt-2 mx-5"> Add Course </a>
                    <a href="{% url 'accept_request' %}" class="nav-link pt-2 mx-5"> View Requests </a>
                {% endif %}
            </ul>
            <button class="d-flex fkex-row align-items-center dropdown mx-2 btn border border-dark" id="profile-dropdown" data-bs-toggle="dropdown">
                <a class="nav-link d-flex flex-row align-items-center mx-0 dropdown-toggle">
                    <img width="40px" height="40px" href="#"
                        src="https://www.pinclipart.com/picdir/middle/185-1850576_png-file-white-bell-notification-icon-transparent-clipart.png"> {{ user.notification_set.all.count }}
                </a>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
							{% for note in user.notification_set.all %}
							<a class="dropdown-item"> Type: {{ note.notification }} </br> Subject: {{ note.subject }}</a>
							{% endfor %}
            </div>

            <button class="d-flex fkex-row align-items-center dropdown mx-2 btn border border-dark" id="profile-dropdown" data-bs-toggle="dropdown">
                <a class="nav-link d-flex flex-row align-items-center mx-0 dropdown-toggle">
                    <img width="40px" height="40px" href="#"
                        src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"> {{ user.username }}
                </a>
            </button>
            <div class="dropdown-menu dropdown-menu-end">
                {% if user.groups.all.0.name == 'users' %}
                    <a class="dropdown-item" href="{% url 'account_info' %}"> Account Information </a>
                    <a class="dropdown-item" href="#"> Pending Requests </a>
                    <a class="dropdown-item" href="{% url 'favorites' %}"> Favorites </a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'account_info' %}"> Account Information </a>
                    <a class="dropdown-item" href="#"> Resolved Requests </a>
                    <a class="dropdown-item" href="{% url 'favorites' %}"> Favorites </a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}"> Log Out </a>
            </div>
        </nav>
    {% endif %}

    {% block content %}{% endblock %}

</body>
</html>
