
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Page</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <content>
      <div class="container-fluid p-5" align="left">
        {% if course %} <h6>{{ course.college_name }} | {{ course }}</h6>
        <h3>Course Attributes</h3>
        <ul>
          <li>College: {{ course.college_name }} {{ foreign }}</li>
          <li>Mnemonic: {{ course.mnemonic }}</li>
          <li>Number: {{ course.course_number }}</li>
          <li>Title: {{ course.course_name }}</li>
        </ul>
        <form action="{% url 'submit_search' %}" method="post">
          {% csrf_token %}
          <input type="hidden" id="college" name="college" value="{{ course.college_name }}">
          <input type="hidden" id="mnemonic" name="mnemonic" value="{{ course.mnemonic }}">
          <input type="hidden" id="number" name="number" value="">
          <input type="hidden" id="name" name="name" value="">
          <button type="submit" class="btn btn-primary">Search Similar Courses</button>
        </form>
        {% endif %}
      </div>

      <!--For Testing Purposes Only
      <p>Equivalents: {{ equivalents }}</p>
      <p>Exclusive: {{ exclusives }}</p>
      <p>Favorites: {{ favorites }}</p>
      -->


      <div class="container-fluid p-5" align="left">

        {% if course %} <h6>{{ course.college_name }} | {{ course }}</h6> {% endif %}
        <div style="float:left;"><h3>Course Equivalencies</h3></div>
        <div style="float:right;">
          <!--Checkbox for specifying which colleges are visible-->
          {% if course.get_model == "internalcourse" and request.session.user_college %}
          <input class="form-check-input" type="checkbox" align="right" id="toggle1" onclick="toggle();">
          <label class="form-check-label" for="toggle1">{{ request.session.user_college }} Specific</label>
          {% endif %}
          <!--Javascript for hiding/unhiding elements (hidden by default) -->
          <script>
              function toggle() {
                var x = document.getElementById("exclude");
                if (x.style.display === "none") {x.style.display = "block";}
                else { x.style.display = "none";}
              }
            </script>
        </div>

        <!--The following div is only here because it was the only way I could get the styling to reset-->
        <div style="clear:both;" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-1 border-bottom"></div>

        <!--List the course equivalencies-->
        {% if equivalents %}
          <div class="card">
            <div class="card-header d-flex">
              <div class="col-3">College</div>
              <div class="col-2">Mnemonic</div>
              <div class="col-2">Number</div>
              <div class="col-4">Name</div>
              <div class="col-1">Action</div>
            </div>
            <ul class="list-group">
              {% for e in equivalents %}
                <!--Define ID for javascript checkbox -->
                <div {% if e not in exclusives %} id="exclude"{% endif %}> <!-- style="display: none;"-->
                  <form action="{% url 'update_favorites' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="secondary" name="secondary" value="{{ e.pk }}">
                    <input type="hidden" id="primary" name="primary" value="{{ course.pk }}">
                    <input type="hidden" id="type" name="type" value="{{ course.get_model }}">
                    <a href="{% url e.get_model e.pk %}" class="list-group-item {% if e in favorites %}list-group-item-success{% endif %} list-group-item-action d-flex">
                      <div class="col-3">{{ e.college_name }}</div>
                      <div class="col-2">{{ e.mnemonic }}</div>
                      <div class="col-2">{{ e.course_number }}</div>
                      <div class="col-4">{{ e.course_name }}</div>
                      <div class="col-1"><button class="btn btn-outline-dark btn-sm">Favorite</button></div>
                    </a>
                  </form>
                </div>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <p>No Accepted Course Equivalencies Found.</p>
        {% endif %}
      </div>
    </content>
</body>
</html>



