{% extends "base.html" %}

{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="min-vh-100 d-flex flex-column align-items-center justify-content-center text-light">
	{% if user.is_authenticated%}
		{% if user.groups.all.0.name == 'users' %}
			<p>WELCOME USER!</p>
		{% elif user.groups.all.0.name == 'admins' %}
			<p>WELCOME ADMIN!</p>
		{% else %}
			<p>YOU ARE NOBODY</p>
			<form action="{% url 'set_group' user.id %}" method="post">
				{% csrf_token %}
				<input type="radio" id="adminselect" name="usertype" value="admins" required>
				<label for="adminselect">Sign Up As Admin </label><br>
				<input type="radio" id="userselect" name="usertype" value="users">
				<label for="userselect">Sign Up As User </label><br>
				<input type="submit"/><br>
			</form>
		{% endif %}
	{% else %}
		<h1 class="text-light mb-5">Welcome to the UVA Transfer Guide</h1>
			<div class="row">
				<div class="col-md-12">
					<a class="btn btn-outline-light" href="{% provider_login_url 'google' %}" style="text-transform:none">
						<img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
						Continue with Google
					</a>
				</div>
			</div>
	{% endif %}
</div>
{% endblock %}
