<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Comment</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <content>
      <div class="container-fluid p-5" align="left">
        <h2>Search Courses</h2>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% else %}<br>{% endif %}
        <form action="{% url 'submit_search' %}" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="mnemonic" class="form-label">Mnemonic:</label>
            <input type="text" id="mnemonic" name="mnemonic" maxlength="200" class="form-control" placeholder="MATH"  onkeydown="return /[a-zA-Z0-9]/i.test(event.key)" style="width: 500px;">
            <div class="form-text">Mnemonics must exactly match those in SIS.
          </div>
          <div class="mb-3">
            <label for="mnemonic" class="form-label">Number:</label>
            <input type="text" id="number" name="number" maxlength="200" class="form-control" placeholder="1000" onkeydown="return /[a-zA-Z0-9]/i.test(event.key)" style="width: 500px;">
            <div class="form-text">Enter a full or partial course number </div>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Course Title:</label>
            <input type="text" id="name" name="name" maxlength="200" class="form-control" placeholder="Introduction to Programming" onkeydown="return /[A-Za-z0-9-',/&:.()?! ]/i.test(event.key)" style="width: 500px;">
            <div class="form-text">Try full titles or key terms.</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="container-fluid p-5" align="center">
        <h2>Course List </h2>
        {% if course_list %}
          <div class="list-group">
            {% for course in course_list.all %}
              <a href="{% url 'coursePage' course.id %}" class="list-group-item list-group-item-action flex-column align-items-start">{{ course }}</a>
            {% endfor %}
          </div>
        {% else %}
          <p>No Courses Available.</p>
        {% endif %}
      </div>
    </content>
</body>
</html>

